<connectionStrings>
    <!-- MS SQL -->
    <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-JudoMVC-20150505031200.mdf;Initial Catalog=aspnet-JudoMVC-20150505031200;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <!--<add name="JudoContext" connectionString="Server=.\SQLEXPRESS;Database=Judo;Trusted_Connection=true;" providerName="System.Data.SqlClient" />-->
    <!-- MySql -->
    <add name="DefaultConnection" 
         providerName="MySql.Data.MySqlClient"
         connectionString="server=bart227.synology.me;user id=testuser;password=usertest;persistsecurityinfo=True;database=JudoIdentity" />
    <add name="JudoContext" 
         providerName="MySql.Data.MySqlClient"
         connectionString="server=bart227.synology.me;user id=testuser;password=usertest;persistsecurityinfo=True;database=JudoTornooi" />
  </connectionStrings>