@using Resource = MyResources.Account.Resource
@{
    ViewBag.Title = Resource.ConfirmEmailTitle;
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        @Resource.ThankConfEmail @Resource.ThankConfEmailPlease @Html.ActionLink(Resource.ThankConfEmailClickHere, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
