@using Resource = MyResources.Account.Resource
@{
    ViewBag.Title = Resource.ResetPassConf;
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        @Resource.YourPassHasBeenReset @Resource.YourPassHasBeenResetPlease @Html.ActionLink(Resource.YourPassHasBeenResetClick, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
