@using Resource = MyResources.Shared.Resource
@model HandleErrorInfo

@{
    ViewBag.Title = Resource.Error;
}

<h1 class="text-danger">@Resource.Error.</h1>
@{
    if (String.IsNullOrEmpty(ViewBag.errorMessage))
    {
        <h2 class="text-danger">@Resource.ErrorOccuredText</h2>
    }
    else
    {
        <h2 class="text-danger">@ViewBag.errorMessage</h2>
        <h3 class="text-danger">@ViewBag.emailSent</h3>
    }
}