@using Resource = MyResources.Shared.Resource
@model HandleErrorInfo

@{
    ViewBag.Title = Resource.LockedOut;
}

<hgroup>
    <h1 class="text-danger">@Resource.LockedOut.</h1>
    <h2 class="text-danger">@Resource.LockedOutText</h2>
</hgroup>
